<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>request form</title>
</head>
<body>
            <!--    start duty      -->
 <form action="/processReqTimeIn" method="post">

   <input type="submit" value="Sign in">
 </form>
            <!--    for stop duty       -->
 <form action="/processReqTimeOut" method="post">

   <input type="submit" value="Sign Out">
 </form>



            <a href="/dashBoard">Dash board</a>

            <form action="/logOut" method="post">
    <input type="submit" name="Log Out"  value="Log Out">
</form>

 </div>


</body>
</html>